.brands {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    h2 {
        color: #F71963;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 50px 0;
        padding: 0;
    }
}