.footer-bottom {
    height: 70px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fff;

    .footer-content {
        width: 1280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        p {
            font-size: 10px;
            font-weight: 400;
            line-height: 13px;
        }

        .footer-bottom-brands {
            display: flex;
            align-items: center;
            img {
                padding-left: 32px;    
            }
        }
    }

}