.products-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 1280px;
    padding: 20px;
    padding-top: 20px;
    justify-content: flex-start;
    overflow: hidden;
    background: none;
}